*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(2, 213, 228);
    font-family: 'Lora', serif;
    display: flex;
    justify-content: center;
}

.container{
    justify-self: center;
    width: 78%;
    display: flex;
    flex-direction: row;

}

.moodSetter{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    background-size: cover;
    background-image: url("kalligas.jpg");
    width: 35%;
    padding-top: 25vh;
}

.brand{
   /* min-height: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0, .4);
    align-content: center;
    text-align: center;
    text-justify: ;
}

#headshot{
    display: inline-block;
    width: 100px;
    border-radius: 75px;
    margin: 10px;
    margin-right: 10px;
}
.introducing{
    display: inline;
    /* background-color: brown; */
    text-align: left;
}
h2{
    display: inline;
    font-size: 35px;
}
h6{
    font-size: 18px;
    text-decoration: underline;
}
.photocred{
    display: flex;
    justify-content: center;
}
.photocred p{
    color: rgb(250, 215, 241);
    position: fixed;
    bottom: 0;
    text-align: center;
}
.contenter,
.contenter2{
    background-color: rgb(249, 214, 196);
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

}
.hook,
.line,
.login,
.sinker{
    padding-top: 1.5em;
    padding-left: 3em;
    padding-bottom: 1.5em;
}
.hook{
padding-bottom: 2em;
}

.line,
.login{
    width: 100%;
    background-color: rgb(252, 242, 237);
    box-shadow: 0px 2px 5px #6a6a69;
}

.line form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
}
.login form{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5em;
}
form input{
    width: 20em;
    height: 2em;
}
#firstN:focus{

}
#firstN::after{
    content: "hey there!";

}

.invalid{
    border-color: rgb(255, 88, 88);
}


.login button,
.sinker button{
    width: 16em;
    height: 2.5em;
    color: rgb(0, 0, 0);
    background-color: rgb(252,242,237);
    border-radius: 6px;
}

.login button:hover{
transform: scale(1.1);
background-color: white;
box-shadow: 1px 2px 3px #6a6a69;
}


.sinker button:disabled{
    color: #a7a7a7;
}


.sinker p{
    text-align: center;
}

.form--hidden{
    display: none;
}



@media only screen and (max-width: 600px) {
    
    
    body,
    .container, 
    .contenter{
    background-size: cover;
    background-image: url("kalligas.jpg");
    }
  }

  .container{
    width: 100%;
    flex-direction: column;
  }



  .moodSetter{
    height: 100px;
    /* background-size: cover; */
    /* background-image: url("kalligas.jpg");*/
    background-color: aquamarine;
    width: 100%; 
    padding-top: 0vh;
  }

  .photocred{
    display: none;
  }



  .contenter{
    width: 100%;
  }
  .line form{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5em;
}

                                            /* adjust text size
                                            fix margins to center text 
                                            center button
                                            adjust text for bottom div
                                            cred photo
                                            figure out top margin issue? */